In [1]:
'''
Perform the following operations using Python on the Iris data sets  
g. Create data subsets for different species  
h. Merge two subsets  
i. Sort Data Petal Length  
j. Transposing Data  
k. Melting Data to long format  
l. Casting data to wide format 
'''

'\nPerform the following operations using Python on the Iris data sets  \ng. Create data subsets for different species  \nh. Merge two subsets  \ni. Sort Data Petal Length  \nj. Transposing Data  \nk. Melting Data to long format  \nl. Casting data to wide format \n'

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('DSBDALExam DataSets\Iris\Iris.csv')

In [4]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
# Rename columns properly
data.columns = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']

In [6]:
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa

In [7]:
print(data['Species'].value_counts())

Species
Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [9]:
# Create data subsets for different species
versicolor = data[data['Species'] == 'Iris-versicolor']
virginica = data[data['Species'] == 'Iris-virginica']
setosa = data[data['Species'] == 'Iris-setosa']

In [10]:
# Merge two subsets
merged_data = pd.concat([setosa, versicolor])

print(merged_data.head())
print(merged_data.tail())

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          4.9         3.0          1.4         0.2  Iris-setosa
1          4.7         3.2          1.3         0.2  Iris-setosa
2          4.6         3.1          1.5         0.2  Iris-setosa
3          5.0         3.6          1.4         0.2  Iris-setosa
4          5.4         3.9          1.7         0.4  Iris-setosa
    SepalLength  SepalWidth  PetalLength  PetalWidth          Species
94          5.7         3.0          4.2         1.2  Iris-versicolor
95          5.7         2.9          4.2         1.3  Iris-versicolor
96          6.2         2.9          4.3         1.3  Iris-versicolor
97          5.1         2.5          3.0         1.1  Iris-versicolor
98          5.7         2.8          4.1         1.3  Iris-versicolor

In [12]:
# Sort Data Petal Length
sorted_data = data.sort_values(by='PetalLength', ascending=True)
print(sorted_data.head())
print(sorted_data.tail())

    SepalLength  SepalWidth  PetalLength  PetalWidth      Species
21          4.6         3.6          1.0         0.2  Iris-setosa
12          4.3         3.0          1.1         0.1  Iris-setosa
34          5.0         3.2          1.2         0.2  Iris-setosa
13          5.8         4.0          1.2         0.2  Iris-setosa
37          4.4         3.0          1.3         0.2  Iris-setosa
     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
130          7.9         3.8          6.4         2.0  Iris-virginica
104          7.6         3.0          6.6         2.1  Iris-virginica
121          7.7         2.8          6.7         2.0  Iris-virginica
116          7.7         3.8          6.7         2.2  Iris-virginica
117          7.7         2.6          6.9         2.3  Iris-virginica

In [13]:
# Transposing Data
transposed_data = data.head().transpose()
print(transposed_data)

                       0            1            2            3            4
SepalLength          4.9          4.7          4.6          5.0          5.4
SepalWidth           3.0          3.2          3.1          3.6          3.9
PetalLength          1.4          1.3          1.5          1.4          1.7
PetalWidth           0.2          0.2          0.2          0.2          0.4
Species      Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa  Iris-setosa

In [14]:
# Melting Data to long format
melted_data = pd.melt(data, id_vars=['Species'],
                      value_vars=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth'])
print(melted_data.head())

       Species     variable  value
0  Iris-setosa  SepalLength    4.9
1  Iris-setosa  SepalLength    4.7
2  Iris-setosa  SepalLength    4.6
3  Iris-setosa  SepalLength    5.0
4  Iris-setosa  SepalLength    5.4

In [16]:
# Casting data to wide format
wide_data = melted_data.pivot_table(index='Species', columns='variable',
                                    values='value', aggfunc='mean')
print(wide_data)

variable         PetalLength  PetalWidth  SepalLength  SepalWidth
Species
Iris-setosa         1.465306    0.244898     5.004082    3.416327
Iris-versicolor     4.260000    1.326000     5.936000    2.770000
Iris-virginica      5.552000    2.026000     6.588000    2.974000