In [1]:
'''
Perform the following operations using Python on Hepatitis Dataset.  
a. Create data subsets for different sex.  
b. Merge two subsets  
c. Sort Data using age, SGOT, PROTIME.  
d. Transposing Data  
e. Melting Data to long format  
f. Casting data to wide format
'''

'\nPerform the following operations using Python on Hepatitis Dataset.  \na. Create data subsets for different sex.  \nb. Merge two subsets  \nc. Sort Data using age, SGOT, PROTIME.  \nd. Transposing Data  \ne. Melting Data to long format  \nf. Casting data to wide format\n'

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv(r'DSBDALExam DataSets\Hepatitis\hepatitis.csv')

In [7]:
data.head()

,2,30,2.1,1,2.2,2.3,2.4,2.5,1.1,2.6,2.7,2.8,2.9,2.10,1.00,85,18,4.0,?,1.2
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [8]:
# Set columns names correctly
data.columns = ['Class', 'AGE', 'SEX', 'STEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE', 'ANOREXIA',
                'LIVER_BIG', 'LIVER_FIRM', 'SPLEEN_PALPABLE', 'SPIDERS', 'ASCITES', 'VARICES',
                'BILIRUBIN', 'ALK_PHOSPHATE', 'SGOT', 'ALBUMIN', 'PROTIME', 'HISTOLOGY']

In [9]:
# Create data subsets for different sex
male_data = data[data['SEX'] == 1]    # assuming 1 = male
female_data = data[data['SEX'] == 2]  # assuming 2 = female

print("Male Data:\n", male_data.head())
print("Female Data:\n", female_data.head())

Male Data:
    Class  AGE  SEX STEROID  ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
0      2   50    1       1           2       1       2        2         1
1      2   78    1       2           2       1       2        2         2
2      2   31    1       ?           1       2       2        2         2
3      2   34    1       2           2       2       2        2         2
4      2   34    1       2           2       2       2        2         2

  LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES BILIRUBIN ALK_PHOSPHATE  \
0          2               2       2       2       2      0.90           135
1          2               2       2       2       2      0.70            96
2          2               2       2       2       2      0.70            46
3          2               2       2       2       2      1.00             ?
4          2               2       2       2       2      0.90            95

  SGOT ALBUMIN PROTIME  HISTOLOGY
0   42     3.5       ?          1
1   32     4.0       ?          1
2   52     4.0      80          1
3  200     4.0       ?          1
4   28     4.0      75          1
Female Data:
     Class  AGE  SEX STEROID  ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
19      2   22    2       2           1       1       2        2         2
23      2   25    2       1           1       2       2        2         2
26      2   58    2       2           2       1       2        2         2
31      2   41    2       2           1       1       1        1         2
32      2   26    2       1           2       2       2        2         2

   LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES BILIRUBIN ALK_PHOSPHATE  \
19          2               2       2       2       2      0.90            48
23          2               2       2       2       2      0.40            45
26          1               2       1       2       2      1.40           175
31          2               2       2       2       2      0.70            81
32          1               2       2       2       2      0.50           135

   SGOT ALBUMIN PROTIME  HISTOLOGY
19   20     4.2      64          1
23   18     4.3      70          1
26   55     2.7      36          1
31   53     5.0      74          1
32   29     3.8      60          1

In [10]:
# Merge the male and female data back
merged_data = pd.concat([male_data, female_data], axis=0)

print("Merged Data:\n", merged_data.head())

Merged Data:
    Class  AGE  SEX STEROID  ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
0      2   50    1       1           2       1       2        2         1
1      2   78    1       2           2       1       2        2         2
2      2   31    1       ?           1       2       2        2         2
3      2   34    1       2           2       2       2        2         2
4      2   34    1       2           2       2       2        2         2

  LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES BILIRUBIN ALK_PHOSPHATE  \
0          2               2       2       2       2      0.90           135
1          2               2       2       2       2      0.70            96
2          2               2       2       2       2      0.70            46
3          2               2       2       2       2      1.00             ?
4          2               2       2       2       2      0.90            95

  SGOT ALBUMIN PROTIME  HISTOLOGY
0   42     3.5       ?          1
1   32     4.0       ?          1
2   52     4.0      80          1
3  200     4.0       ?          1
4   28     4.0      75          1

In [11]:
# Since there are missing values ('?'), first replace '?' with NaN and convert numeric columns
data.replace('?', pd.NA, inplace=True)

# Convert relevant columns to numeric
data['AGE'] = pd.to_numeric(data['AGE'], errors='coerce')
data['SGOT'] = pd.to_numeric(data['SGOT'], errors='coerce')
data['PROTIME'] = pd.to_numeric(data['PROTIME'], errors='coerce')

# Sort
sorted_data = data.sort_values(by=['AGE', 'SGOT', 'PROTIME'])

print(sorted_data.head())

     Class  AGE  SEX STEROID  ANTIVIRALS FATIGUE MALAISE ANOREXIA LIVER_BIG  \
109      2    7    1       2           2       2       2        2         2
36       2   20    2       1           2       1       1        1         1
120      2   20    1       1           2       1       1        1         2
147      2   20    1       1           2       2       2        2         2
19       2   22    2       2           1       1       2        2         2

    LIVER_FIRM SPLEEN_PALPABLE SPIDERS ASCITES VARICES BILIRUBIN  \
109          1               1       2       2       2      0.70
36           1               1       1       2       2      2.30
120          2               2       1       1       2      1.00
147       <NA>               2       2       2       2      0.90
19           2               2       2       2       2      0.90

    ALK_PHOSPHATE   SGOT ALBUMIN  PROTIME  HISTOLOGY
109           256   25.0     4.2      NaN          2
36            150   68.0     3.9      NaN          1
120           160  118.0     2.9     23.0          2
147            89  152.0     4.0      NaN          2
19             48   20.0     4.2     64.0          1

In [12]:
# Transpose the data
transposed_data = data.transpose()
print(transposed_data.head())

           0   1     2   3   4   5   6   7   8   9    ... 144 145 146 147 148  \
Class        2   2     2   2   2   1   2   2   2   2  ...   2   1   1   2   2
AGE         50  78    31  34  34  51  23  39  30  39  ...  31  41  70  20  36
SEX          1   1     1   1   1   1   1   1   1   1  ...   1   1   1   1   1
STEROID      1   2  <NA>   2   2   1   2   2   2   1  ...   1   2   1   1   2
ANTIVIRALS   2   2     1   2   2   2   2   2   2   1  ...   2   2   2   2   2

           149 150 151 152 153
Class        1   2   2   2   1
AGE         46  44  61  53  43
SEX          1   1   1   2   1
STEROID      2   2   1   1   2
ANTIVIRALS   2   2   2   2   2

[5 rows x 154 columns]

In [13]:
# Melting data to long format
melted_data = pd.melt(data, 
                      id_vars=['Class', 'SEX'],
                      var_name='Attribute',
                      value_name='Value')
print(melted_data.head())

   Class  SEX Attribute Value
0      2    1       AGE    50
1      2    1       AGE    78
2      2    1       AGE    31
3      2    1       AGE    34
4      2    1       AGE    34

In [14]:
# Casting data back to wide format
wide_data = melted_data.pivot_table(index=['Class', 'SEX'],
                                    columns='Attribute',
                                    values='Value',
                                    aggfunc='first').reset_index()
print(wide_data.head())

Attribute  Class  SEX AGE ALBUMIN ALK_PHOSPHATE ANOREXIA ANTIVIRALS ASCITES  \
0              1    1  51     3.8           280        1          2       2
1              2    1  50     3.5           135        2          2       2
2              2    2  22     4.2            48        2          1       2

Attribute BILIRUBIN FATIGUE HISTOLOGY LIVER_BIG LIVER_FIRM MALAISE PROTIME  \
0              2.30       1         1         2          2       2    40.0
1              0.90       1         1         1          2       2    80.0
2              0.90       1         1         2          2       2    64.0

Attribute  SGOT SPIDERS SPLEEN_PALPABLE STEROID VARICES
0          98.0       1               1       1       2
1          42.0       2               2       1       2
2          20.0       2               2       2       2