In [1]:
'''
Perform the following operations using Python on ForestFires Dataset.  
a. Create data subsets by making classes for amount of region affected.(e.g. 
NotAffected, Partially affected, Mostlyaffected).  
b. Merge two subsets  
c. Sort Data using Temperature, wind and area.  
d. Transposing Data  
e. Melting Data to long format  
f. Casting data to wide format
'''

'\nPerform the following operations using Python on ForestFires Dataset.  \na. Create data subsets by making classes for amount of region affected.(e.g. \nNotAffected, Partially affected, Mostlyaffected).  \nb. Merge two subsets  \nc. Sort Data using Temperature, wind and area.  \nd. Transposing Data  \ne. Melting Data to long format  \nf. Casting data to wide format\n'

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r'DSBDALExam DataSets\forestfires\forestfires.csv')

In [4]:
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [5]:
data.columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [6]:
print(data['area'].value_counts())

area
0.00      247
1.94        3
0.52        2
3.71        2
0.68        2
         ...
105.66      1
154.88      1
196.48      1
200.94      1
11.16       1
Name: count, Length: 251, dtype: int64

In [7]:
# Create a new columm based on area
def classify_area(area):
    if area == 0:
        return 'NotAffected'
    elif area <= 5:
        return 'PartiallyAffected'
    else:
        return 'MostlyAffected'

data['region_status'] = data['area'].apply(classify_area)

In [9]:
# Create subsets
not_affected = data[data['region_status'] == 'NotAffected']
partially_affected = data[data['region_status'] == 'PartiallyAffected']
mostly_affected = data[data['region_status'] == 'MostlyAffected']

print(not_affected.shape)
print(partially_affected.shape)
print(mostly_affected.shape)

(247, 14)
(119, 14)
(151, 14)

In [10]:
# Merge two subsetsa
merged_data = pd.concat([not_affected, partially_affected])
print(merged_data.shape)

(366, 14)

In [13]:
# Sort Data using Temperature, wind and area
sorted_data = data.sort_values(by=['temp', 'wind', 'area'])
print(sorted_data[['temp', 'wind', 'area']].head())

     temp  wind  area
280   2.2   4.9  9.27
282   4.2   4.0  0.00
465   4.6   0.9  6.84
463   4.6   6.3  5.39
279   4.6   8.5  9.77

In [14]:
# Transposing Data
transposed_data = data.transpose()
print(transposed_data.head())

        0     1     2     3     4     5     6     7     8     9    ...   507  \
X         7     7     7     8     8     8     8     8     8     7  ...     2
Y         5     4     4     6     6     6     6     6     6     5  ...     4
month   mar   oct   oct   mar   mar   aug   aug   aug   sep   sep  ...   aug
day     fri   tue   sat   fri   sun   sun   mon   mon   tue   sat  ...   fri
FFMC   86.2  90.6  90.6  91.7  89.3  92.3  92.3  91.5  91.0  92.5  ...  91.0

        508   509   510   511   512   513   514   515   516
X         1     5     6     8     4     2     7     1     6
Y         2     4     5     6     3     4     4     4     3
month   aug   aug   aug   aug   aug   aug   aug   aug   nov
day     fri   fri   fri   sun   sun   sun   sun   sat   tue
FFMC   91.0  91.0  91.0  81.6  81.6  81.6  81.6  94.4  79.5

[5 rows x 517 columns]

In [15]:
# Melting Data to Long Format
melted_data = pd.melt(data,
                      id_vars=['X', 'Y', 'month', 'day'],
                      value_vars=['temp', 'RH', 'wind', 'rain', 'area'],
                      var_name='Attribute',
                      value_name='Value')
print(melted_data.head())

   X  Y month  day Attribute  Value
0  7  5   mar  fri      temp    8.2
1  7  4   oct  tue      temp   18.0
2  7  4   oct  sat      temp   14.6
3  8  6   mar  fri      temp    8.3
4  8  6   mar  sun      temp   11.4

In [16]:
# Casting Data to Wide Format
wide_data = melted_data.pivot_table(index=['X', 'Y', 'month', 'day'],
                                    columns='Attribute',
                                    values='Value',
                                    aggfunc='first').reset_index()
print(wide_data.head())

Attribute  X  Y month  day    RH  area  rain  temp  wind
0          1  2   aug  fri  66.0   0.0   0.0  14.7   2.7
1          1  2   aug  sat  32.0   0.0   0.0  25.9   3.1
2          1  2   aug  sun  39.0   0.0   0.0  19.5   6.3
3          1  2   aug  thu  45.0   0.0   0.0  20.2   3.6
4          1  2   aug  tue  19.0   0.0   0.0  21.6   6.7