In [1]:
'''
Perform the following operations using Python on the Facebook metrics data sets  
a. Create data subsets for type of post  
b. Merge two subsets  
c. Sort Data on Page total likes  
d. Transposing Data  
e. Melting Data to long format  
f. Casting data to wide format 
'''

'\nPerform the following operations using Python on the Facebook metrics data sets  \na. Create data subsets for type of post  \nb. Merge two subsets  \nc. Sort Data on Page total likes  \nd. Transposing Data  \ne. Melting Data to long format  \nf. Casting data to wide format \n'

In [21]:
import pandas as pd

In [22]:
data = pd.read_csv('DSBDALExam DataSets\dataset_Facebook.csv', delimiter=';')

In [23]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [26]:
print(data['Type'].value_counts())

Type
Photo     426
Status     45
Link       22
Video       7
Name: count, dtype: int64

In [27]:
# Create data subsets for type of posts
photo_posts = data[data['Type'] == 'Photo']
status_posts = data[data['Type'] == 'Status']
link_posts = data[data['Type'] == 'Link']
video_posts = data[data['Type'] == 'Video']

In [28]:
# Merge two data subsets
merged_data = pd.concat([photo_posts, status_posts])

print("\nMerged Data (Photo + Status Posts):")
print(merged_data.head())

Merged Data (Photo + Status Posts):
   Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
2            139441  Photo         3          12             3          3
3            139441  Photo         2          12             2         10
4            139441  Photo         2          12             2          3
6            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594
6   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
2                     177                      113
3                    2211                      790
4                     671                      410
6                     481                      265

   Lifetime Post Consumptions  \
0                         159
2                         154
3                        1119
4                         580
6                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
2                                               2812
3                                              61027
4                                               6228
6                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
2                                              1503
3                                             32048
4                                              3200
6                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
2                                                132
3                                               1386
4                                                396
6                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393
6        3   249.0   27.0                 279

In [29]:
# Sort Data on Page total likes
sorted_data = data.sort_values(by='Page total likes', ascending=False)
print("\nData Sorted by Page Total Likes:")
print(sorted_data.head())

Data Sorted by Page Total Likes:
    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0             139441   Photo         2          12             4          3
8             139441  Status         2          12             7          3
1             139441  Status         2          12             3         10
12            139441   Photo         2          12             5         10
11            139441   Photo         2          12             5         10

    Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0    0.0                       2752                             5091
8    0.0                      11844                            22538
1    0.0                      10460                            19057
12   0.0                       2847                             5133
11   0.0                       3112                             5590

    Lifetime Engaged Users  Lifetime Post Consumers  \
0                      178                      109
8                     1530                     1407
1                     1457                     1361
12                     193                      115
11                     208                      127

    Lifetime Post Consumptions  \
0                          159
8                         1692
1                         1674
12                         133
11                         145

    Lifetime Post Impressions by people who have liked your Page  \
0                                                3078
8                                               15220
1                                               11710
12                                               3779
11                                               3887

    Lifetime Post reach by people who like your Page  \
0                                               1640
8                                               7912
1                                               6112
12                                              2072
11                                              2174

    Lifetime People who have liked your Page and engaged with your post  \
0                                                 119
8                                                1250
1                                                1108
12                                                152
11                                                165

    comment   like  share  Total Interactions
0         4   79.0   17.0                 100
8         0  161.0   31.0                 192
1         5  130.0   29.0                 164
12        0   90.0   14.0                 104
11        0   88.0   18.0                 106

In [30]:
# Transposing Data
transposed_data = data.head().T # Transpose first 5 rows for display
print("\nTransposed Data:")
print(transposed_data)

Transposed Data:
                                                         0       1       2  \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                         3       4
Page total likes                                    139441  139441
Type                                                 Photo   Photo
Category                                                 2       2
Post Month                                              12      12
Post Weekday                                             2       2
Post Hour                                               10       3
Paid                                                   1.0     0.0
Lifetime Post Total Reach                            50128    7244
Lifetime Post Total Impressions                      87991   13594
Lifetime Engaged Users                                2211     671
Lifetime Post Consumers                                790     410
Lifetime Post Consumptions                            1119     580
Lifetime Post Impressions by people who have li...   61027    6228
Lifetime Post reach by people who like your Page     32048    3200
Lifetime People who have liked your Page and en...    1386     396
comment                                                 58      19
like                                                1572.0   325.0
share                                                147.0    49.0
Total Interactions                                    1777     393

In [31]:
# Melting Data to long format
melted_data = pd.melt(data, id_vars=['Type', 'Category'],
                      value_vars=['like', 'share', 'comment'])
print("\nMelted Data (Long Format):")
print(melted_data.head())

Melted Data (Long Format):
     Type  Category variable   value
0   Photo         2     like    79.0
1  Status         2     like   130.0
2   Photo         3     like    66.0
3   Photo         2     like  1572.0
4   Photo         2     like   325.0

In [32]:
# Casting data to wide format (pivoting melted data)
wide_data = melted_data.pivot_table(index=['Type', 'Category'], 
                                    columns='variable', values='value', aggfunc='mean')
print("\nWide Format Data (Pivot Table):")
print(wide_data.head())

Wide Format Data (Pivot Table):
variable          comment        like      share
Type  Category
Link  1          2.900000   75.650000  12.700000
      2          2.000000   32.000000  15.000000
      3          2.000000   68.000000  15.000000
Photo 1          5.897297  126.000000  17.961326
      2         11.692308  235.857143  35.505495